<h1 mat-dialog-title>{{data.title}} </h1>
<div>
  <!-- <label>name:
     <input  placeholder="{{data.name.title}}"/>
    <input ng-model="name" ng-init="name ='{{data.name.title}'"></input> -->

  <!-- </label> -->
  <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <input name="first" ngModel required #first="ngModel">
      <input name="last" ngModel>
      <button>Submit</button>
    </form> -->

  <!-- <p>First name value: {{ first.value }}</p>
    <p>First name valid: {{ first.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>

    <p>Form valid: {{ f.valid }}</p>   -->


  <form #f="ngForm" (ngSubmit)="onSave(f)"  novalidate>
    <label>Title:
      <mat-form-field class="example-full-width">
        <input matInput name="title" ngModel="{{data.title}}" >
      </mat-form-field>


    </label>
    <label>Description:
      <mat-form-field class="example-full-width">
        <input matInput name="description" ngModel="{{data.description}}">
      </mat-form-field>
    </label>

    <label>Created:
      <mat-form-field class="example-full-width">
        <input matInput name="created" ngModel="{{data.created}}">
      </mat-form-field>
    </label>

    <label>Scheduled:
      <mat-form-field class="example-full-width">
        <input matInput name="scheduled" ngModel="{{data.scheduled}}">
      </mat-form-field>
    </label>
    <label>Last Updated:
      <mat-form-field class="example-full-width">
        <input matInput name="lastupdated" ngModel="{{data.lastupdated}}">
      </mat-form-field>
    </label>
    <label>Completed:
        <mat-form-field class="example-full-width">
          <input matInput name="completed" ngModel="{{data.completed}}">
        </mat-form-field>
      </label>

    <button type="submit" mat-raised-button >Submit</button>
  </form>
</div>