<h1 mat-dialog-title>Hi {{data.name.title}} </h1>
<div>
  <!-- <label>name:
    <!-- <input  placeholder="{{data.name.title}}"/>
    <input ng-model="name" ng-init="name ='{{data.name.title}'"></input> -->

  <!-- </label> --> 

  <label>Title:
    <!-- <input [(ngModel)]="name" placeholder="{{data.name.title}}"/> -->
    <!-- <input ng-model="data.name.title"  ng-init='This is a string'>    -->
    <mat-form-field class="example-full-width">
      <input matInput  value="{{data.name.title}}">
    </mat-form-field>

  </label>
 
</div>
