<mat-form-field class="example-form-field">
    <mat-icon matSuffix (click)="saveVideo()">search</mat-icon>

    <input matInput type="search" placeholder="Enter url" [(ngModel)]="urlvalue">
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon> -->

    <!-- <button mat-button *ngIf="urlvalue" matSuffix mat-icon-button aria-label="Clear" (click)="urlvalue=''">
      <mat-icon>close</mat-icon>

    </button> -->
    <!-- <button mat-button *ngIf="urlvalue" matSuffix mat-icon-button aria-label="Clear" (click)="urlvalue=''">
      
      <mat-icon  (click)="saveVideo()">save_alt</mat-icon>
  

    </button> -->
  </mat-form-field>

  
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->