
  .example-card {
    background-color: white;
    float: left;
    width: 20%;
    padding: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
  }